*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#CBF2C3;
    --main-color:#000000;
    --white-color:#ffffff;
    --gray-color:#7C7C7C;
    --yellow-color:#DBB62E;
    --darkYellow-color:#B09328;
}
body{
    background-color: var(--bg-color);
    transition: 1s;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25em;
    height: 25em;
    z-index: 1;
}
.bird{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0.2em;
    height: 0.2em;
    border: 14em solid transparent;
    border-top: 14em solid var(--main-color);
    border-right: 6em solid transparent;
    border-left: 6em solid transparent;
    box-sizing: border-box;
}
.bird::before{
    position: absolute;
    content: '';
    top: -14em;
    left:-6em;
    background: transparent;
    width: 0em;
    height: 0em;
    border:6em solid transparent;
    border-top: 14em solid var(--gray-color);
    border-right: 0em solid transparent;
    border-left: 6em solid transparent;
}

.head{
    position: absolute;
    top: -25em;
    left: -7em;
    width: 7em;
    height: 14.5em;
    background: var(--gray-color);
    border-top-left-radius: 100em;
    border-bottom-left-radius: 100em;
    z-index: -1; 
}
.head::after{
    position: absolute;
    content: '';
    top: -6em;
    left: 3em;
    width: 9em;
    height: 9em;
    background: var(--main-color);
    border-radius: 100%;
    z-index: -1;
}
.head::before{
    position: absolute;
    content: '';
    top: 0em;
    left: 7em;
    width: 07em;
    height: 14.5em;
    background: var(--main-color);
    border-top-right-radius: 100em;
    border-bottom-right-radius: 100em;
    z-index: -1;
}
/* --------------- eye ---------------- */
.eye{
    position: absolute;
    width: 0;
    height: 0;
    top: -29em;
    left: -2em;
    border: 4em solid white;
    border-top: 0em solid transparent;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    transform: rotate(90deg);

}
.eye::before{
    position: absolute;
    content: '';
    top: 2.2em;
    left: -0.5em;
    width: 1em;
    height: 1em;
    background: var(--main-color);
    border-radius: 100%;
}
/* --------------- mine---------------- */
.mine{
    position: absolute;
    background-color: var(--yellow-color);
    top: -28.5em;
    left: -15em;
    width: 12em;
    height: 3em;
    border-top-left-radius: 20em;
    z-index: -9;
}
.mine::before{
    position: absolute;
    content: '';
    background-color: var(--darkYellow-color);
    top: 3em;
    left: 2em;
    width:10em;
    height: 1em;
    border-bottom-left-radius: 20em;
    z-index: -9;
}

/*------------------------------------- Tail ------------------------ */
.tail{
    position: absolute;
    top: -4em;
    left: -3.5em;
    width: 0em;
    height: 0em;
    background: transparent;
    border: 7em solid var(--main-color);
    border-top: 0em solid transparent;
    border-left: 2em solid transparent;
    border-right: 2em solid  var(--main-color);
    z-index: -9999;
}
.tail::after{
    position: absolute;
    content: '';
    top: 0em;
    left: 2em;
    width: 0em;
    height: 0em;
    background: transparent;
    border: 7em solid var(--main-color);
    border-top: 0em solid transparent;
    border-right: 2em solid transparent;
    border-left: 1em solid  var(--main-color);
    z-index: -9999;
}
/*-------------------- responsive -----------------------*/
@media screen and (max-width:767px) {
    body{
        font-size: 0.65em;
    }
}
@media screen and (min-width:768px) and (max-width:991px) {
    body{
        font-size: 0.75em;
    }
}
@media screen and (min-width:992px) and (max-width:1199px) {
    body{
        font-size: 0.85em;
    }
}
@media screen and (min-width:1200px)  {
    body{
        font-size: 1em;
    }
}